.investment {
  background-color: #54c71e52;
  border: 1px solid white;

  span {
    font-weight: 700;
  }

  td {
    border-bottom: initial;
    text-align: left;
    vertical-align: baseline;
    font-size: 1.1rem;

    &:last-child {
      text-align: center;
      vertical-align: middle;
      width: 100px;
    }

    hr {
      margin: 1rem 0;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;

      &:last-child {
        width: initial;
      }
    }
  }
}
